#cotocoa executables
main/coupler/coupler
main/requester/make.log
main/requester/mpiemses3D
main/mpiemses3D
main/worker/dout

#emses output
main/SNAPSHOT*/
main/requester-data/*.h5
main/requester-data/chgacm1
main/requester-data/chgacm2
main/requester-data/icur
main/requester-data/ocur
main/requester-data/pbody
main/requester-data/pprobe
main/requester-data/seyield

#backup
*.old*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
