#cotocoa executables
main/coupler/coupler
main/requester/make.log
mpiemses3D
main/worker/dout

#cotocoa output
*.gif

#emses output
SNAPSHOT*/
*.h5
chgacm1
chgacm2
chgmov
currnt
energy*
ewave
icur
*flux
nesc
ocur
oltime
pbody*
pprobe
seyield

#backup
*.old*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
